<section class="container">
  <div class="overflow-scroll">

    <div class="py0">
      <div class="sm-col py0">
        <h3 id="bootscripts">Bootscripts</h3>
      </div>
      <div class="sm-col-right py2">
        <form>
          <label for="search">Search</label>
          <input id="search" type="text" ng-model="searchKeyword" class="field" />
        </form>
      </div>
    </div>

    <table class="table-light overflow-hidden bg-white border rounded">
      <thead class="bg-darken-1">
        <tr>
          <th><a href="" ng-click="orderByField='title'; reverseSort=!reverseSort">Name</a></th>
          <th><a href="" ng-click="orderByField='kernel.title'; reverseSort=!reverseSort">Kernel</a></th>
          <th><a href="" ng-click="orderByField='initrd.title'; reverseSort=!reverseSort">Initrd</a></th>
          <th><a href="" ng-click="orderByField='bootcmdargs.value'; reverseSort=!reverseSort">/proc/cmdline</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng:repeat="i in bootscripts | filter:searchKeyword | orderBy:orderByField:reverseSort">
          <td class="py2"><b class="nowrap"><a href="#/bootscripts/{{i.id}}" ng-bind-html="i.title | addLabels"></a></b></td>
          <td class="py2"><small><span class="nowrap inline-block p1 px1 black bg-silver rounded">{{i.kernel.title}}</span></small></td>
          <td class="py2"><small><span class="nowrap inline-block p1 px1 black bg-silver rounded">{{i.initrd.title}}</span></small></td>
          <td class="py2">
            <small>
              <span class="inline-block py1 px1 black bg-silver rounded">{{i.bootcmdargs.value.replace('LINUX_COMMON ', '')}}</span>
            </small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
