<section class="container">
  <div class="overflow-scroll">
    <div class="sm-col py1">
      <h2 id="image">{{ image.manifest_name }}</h2>
    </div>
    <div class="sm-col-right py2">
      <img class="circle" src="https://cloud.scaleway.com/images/image_logos/{{image.objects.manifest.name}}.png" onerror="this.src='https://cloud.scaleway.com/images/69f046ad.image_default.jpg'" height="50" />
    </div>

    <table class="table-light overflow-hidden bg-white border rounded">
      <thead class="bg-darken-2"><tr><th colspan="2">Devhub</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">New Server</td><td>
          <a href="{{basehref}}/images/{{image.objects.manifest.name}}:{{image.objects.manifest.tags[0]}}/new-server" target="_blank">
            {{basehref}}/images/{{image.objects.manifest.name}}:{{image.objects.manifest.tags[0]}}/new-server
          </a>
        </td></tr>
        <tr><td class="bg-darken-1">Devhub API</td><td>
          <a href="{{basehref}}/api/images/{{image.objects.manifest.name}}:{{image.objects.manifest.tags[0]}}" target="_blank">
            {{basehref}}/devhub/images/{{image.objects.manifest.name}}:{{image.objects.manifest.tags[0]}}
          </a>
        </td></tr>
        <tr><td class="bg-darken-1">Scaleway image build</td><td>
          <div class="sm-col"><span am-time-ago="image.objects.api.creation_date" title="{{image.objects.api.creation_date}}">
            {{image.objects.api.creation_date}}
          </span></div>
          <div class="sm-col-right"><img src="/badges/images/{{image.manifest_name}}/scw-build.svg" /></div>
        </td></tr>
      </tbody>
      <thead class="bg-darken-2"><tr><th colspan="2">GitHub</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">Repository</td><td>
          <a href="https://{{image.objects.manifest.repo}}/tree/{{image.objects.manifest.branch}}/{{image.objects.manifest.path}}" target="_blank">
            https://{{image.objects.manifest.repo}}/tree/{{image.objects.manifest.branch}}/{{image.objects.manifest.path}}
          </a>
        </td></tr>
        <tr>
          <td class="bg-darken-1">Latest commit</td>
          <td am-time-ago="image.objects.github_repo.pushed_at" title="{{image.objects.github_repo.pushed_at}}">
            {{image.objects.github_repo.pushed_at || "n/a"}}
          </td></tr>
        <tr><td class="bg-darken-1">Creation date</td>
          <td am-time-ago="image.objects.github_repo.created_at" title={{image.objects.github_repo.created_at}}">
            {{image.objects.github_repo.created_at || "n/a"}}
          </td>
        </tr>
        <tr><td class="bg-darken-1">Maintainer</td><td><a href="{{image.objects.github_repo.owner.html_url}}" target="_blank">
          <div class="sm-col"><img src="{{image.objects.github_repo.owner.avatar_url}}&s=16" /></div>
          <div class="sm-col">{{image.objects.github_repo.owner.login}}</div>
        </a></td></tr>
        <tr><td class="bg-darken-1">Issues</td><td>
          <a href="https://{{image.objects.manifest.repo}}/issues" target="_blank">
            {{image.objects.github_repo.open_issues_count || "n/a"}}
          </a>
        </td></tr>
        <tr><td class="bg-darken-1">License</td><td>
            <div class="sm-col">{{image.objects.github_repo.license.name}}</div>
            <div class="sm-col-right"><img src="https://img.shields.io/github/license/{{image.objects.github_repo.full_name}}.svg" /></div>
          </a>
        </td></tr>
        <!--<tr><td class="bg-darken-1">Commits</td><td>coming soon...</td></tr>-->
        <!--<tr><td class="bg-darken-1">Age</td><td>coming soon...</td></tr>-->
        <!--<tr><td class="bg-darken-1">Image tools</td><td>coming soon...</td></tr>-->
        <!--<tr><td class="bg-darken-1">Active pull-requests</td><td>coming soon...</td></tr>-->
      </tbody>
      <thead class="bg-darken-2"><tr><th colspan="2">Scaleway API</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">Image Name</td><td>{{ image.objects.api.name }}</td></tr>
        <tr><td class="bg-darken-1">Image UUID</td><td>
          <a href="https://cloud.scaleway.com/#/images/{{ image.objects.api.id }}">
            {{ image.objects.api.id }}
          </a>
        </td></tr>
        <tr><td class="bg-darken-1">Creation date</td>
          <td am-time-ago="image.objects.api.creation_date" title="{{ image.objects.api.creation_date }}">{{ image.objects.api.creation_date }}</td>
        </tr>
        <tr><td class="bg-darken-1">Modification date</td>
          <td am-time-ago="image.objects.api.modification_date" title="{{ image.objects.api.modification_date }}">{{ image.objects.api.modification_date }}</td>
        </tr>
        <tr><td class="bg-darken-1">Arch</td><td>{{ image.objects.api.arch }}</td></tr>
        <tr><td class="bg-darken-1">Root volume</td><td>{{ image.objects.api.root_volume.size | humanBytes:0:10 }}</td></tr>
        <tr><td class="bg-darken-1">Bootscript</td><td><a href="#/bootscripts/{{image.objects.api.default_bootscript.id}}">{{ image.objects.api.default_bootscript.title }}</a></td></tr>
      </tbody>
      <thead class="bg-darken-2"><tr><th colspan="2">Manifest</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">Manifest Name</td><td>{{ image.objects.manifest.name }}</td></tr>
        <tr><td class="bg-darken-1">Manifest Tags</td><td>
          <span ng-if="tag == 'latest'" class="inline-block mr1 px1 white bg-green rounded" ng:repeat="tag in image.objects.manifest.tags">{{tag}}</span>
          <span ng-if="tag != 'latest'" class="inline-block mr1 px1 black bg-yellow rounded" ng:repeat="tag in image.objects.manifest.tags">{{tag}}</span>
        </td></tr>
        <!--<tr><td class="bg-darken-1">Vendor URL</td><td>coming soon...</td></tr>-->
        <!--<tr><td class="bg-darken-1">Documentation URL</td><td>coming soon...</td></tr>-->
        <!--<tr><td class="bg-darken-1">Other flags from Makefile</td><td>coming soon...</td></tr>-->
      </tbody>
      <thead class="bg-darken-2"><tr><th colspan="2">Docker</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">Image</td><td>
          <a href="https://hub.docker.com/r/scaleway/{{ image.objects.manifest.name }}/" target="_blank">
            https://hub.docker.com/r/scaleway/{{ image.objects.manifest.name }}:{{ image.objects.manifest.tags[0] }}
          </a>
        </td></tr>
        <!--<tr><td class="bg-darken-1">Status</td><td>coming soon...</td></tr>-->
        <!--<tr><td class="bg-darken-1">FROM</td><td>coming soon...</td></tr>-->
        <!--<tr><td class="bg-darken-1">FROM status</td><td>coming soon...</td></tr>-->
        <!--<tr><td class="bg-darken-1">Tags</td><td>coming soon...</td></tr>-->
      </tbody>
      <thead class="bg-darken-2"><tr><th colspan="2">Travis</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">Status</td><td>
          <div class="sm-col">&nbsp;</div>
          <div class="sm-col-right"><img src="https://img.shields.io/travis/{{image.objects.github_repo.full_name}}.svg" /></div>
          </a>
        </td></tr>
        <tr><td class="bg-darken-1">QA url</td><td>
          <a href="https://github.com/scaleway/qa/tree/master/images/{{ image.objects.manifest.repo }}" target="_blank">
            ./images/{{ image.objects.manifest.repo }}
          </a>
        </td></tr>
        <!--<tr><td class="bg-darken-1">Latest build</td><td>coming soon...</td></tr>-->
      </tbody>
      <tbody>
    </table>
    <hr />
    <button class="btn btn-outline bg-darken-4 white" ng-click="showRawAPI()">Raw API</button>
    <button class="btn btn-outline bg-darken-4 white" ng-click="showDockerfile()">Dockerfile</button>
    <button class="btn btn-outline bg-darken-4 white" ng-click="showMakefile()">Makefile</button>
    <pre ng-show="preRawAPI" class="bg-darken-2 round px2 py2">{{ image | prettyJSON }}</pre>
    <pre ng-show="preDockerfile" class="bg-darken-2 round px2 py2">{{ dockerfile }}</pre>
    <pre ng-show="preMakefile" class="bg-darken-2 round px2 py2">{{ makefile }}</pre>
  </div>
</section>
