<section class="container">
  <div class="overflow-scroll">
    <h2 id="image">{{ image.manifest_name }}</h2>

    <table class="table-light overflow-hidden bg-white border rounded">
      <thead class="bg-darken-2"><tr><th colspan="2">Devhub</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">New Server</td><td><a href="{{basehref}}/images/{{image.objects.manifest.name}}:{{image.objects.manifest.tags[0]}}/new-server" target="_blank">{{basehref}}/images/{{image.objects.manifest.name}}:{{image.objects.manifest.tags[0]}}/new-server</a></td></tr>
        <tr><td class="bg-darken-1">Devhub API</td><td><a href="{{basehref}}/api/images/{{image.objects.manifest.name}}:{{image.objects.manifest.tags[0]}}" target="_blank">{{basehref}}/devhub/images/{{image.objects.manifest.name}}:{{image.objects.manifest.tags[0]}}</a></td></tr>
        <tr><td class="bg-darken-1">Scaleway image build</td><td><img src="/badges/images/{{image.manifest_name}}/scw-build.svg" /><span am-time-ago="image.objects.api.creation_date"></span></td></tr>
      </tbody>
      <thead class="bg-darken-2"><tr><th colspan="2">GitHub</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">Repository</td><td><a href="https://{{image.objects.manifest.repo}}/tree/{{image.objects.manifest.branch}}/{{image.objects.manifest.path}}" target="_blank">https://{{image.objects.manifest.repo}}/tree/{{image.objects.manifest.branch}}/{{image.objects.manifest.path}}</a></td></tr>
        <tr><td class="bg-darken-1">Latest commit</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Commits</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Age</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Image tools</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Maintainers</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Issues</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Pull-request</td><td>coming soon...</td></tr>
      </tbody>
      <thead class="bg-darken-2"><tr><th colspan="2">Scaleway API</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">Image Name</td><td>{{ image.objects.api.name }}</td></tr>
        <tr><td class="bg-darken-1">Image UUID</td><td>{{ image.objects.api.id }}</td></tr>
        <tr><td class="bg-darken-1">Image UUID</td><td><a href="https://cloud.scaleway.com/#/images/{{ image.objects.api.id }}">https://cloud.scaleway.com/#/images/{{ image.objects.api.id }}</a></td></tr>
        <tr><td class="bg-darken-1">Creation date</td><td>{{ image.objects.api.creation_date }}</td></tr>
        <tr><td class="bg-darken-1">Modification date</td><td>{{ image.objects.api.modification_date }}</td></tr>
        <tr><td class="bg-darken-1">Arch</td><td>{{ image.objects.api.arch }}</td></tr>
        <tr><td class="bg-darken-1">Root volume</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Bootscript</td><td>coming soon...</td></tr>
      </tbody>
      <thead class="bg-darken-2"><tr><th colspan="2">Manifest</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">Manifest Name</td><td>{{ image.objects.manifest.name }}</td></tr>
        <tr><td class="bg-darken-1">Manifest Tags</td><td>
          <span class="inline py0 mr1 px1 black bg-silver rounded" ng:repeat="tag in image.objects.manifest.tags">
            {{tag}}
          </span>
        </td></tr>
        <tr><td class="bg-darken-1">Vendor URL</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Documentation URL</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Other flags from Makefile</td><td>coming soon...</td></tr>
      </tbody>
      <thead class="bg-darken-2"><tr><th colspan="2">Docker</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">Image</td><td><a href="https://hub.docker.com/r/scaleway/{{ image.objects.manifest.name }}/" target="_blank">https://hub.docker.com/r/scaleway/{{ image.objects.manifest.name }}:{{ image.objects.manifest.tags[0] }}</a></td></tr>
        <tr><td class="bg-darken-1">Status</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">FROM</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">FROM status</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Tags</td><td>coming soon...</td></tr>
      </tbody>
      <thead class="bg-darken-2"><tr><th colspan="2">Travis</th></tr></thead>
      <tbody>
        <tr><td class="bg-darken-1">Status</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">QA url</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Latest build</td><td>coming soon...</td></tr>
        <tr><td class="bg-darken-1">Active PRs</td><td>coming soon...</td></tr>
      </tbody>
      <tbody>
    </table>
    <hr />
    <button class="btn btn-outline bg-darken-4 white" ng-click="showRawAPI()">Raw API</button>
    <button class="btn btn-outline bg-darken-4 white" ng-click="showDockerfile()">Dockerfile</button>
    <button class="btn btn-outline bg-darken-4 white" ng-click="showMakefile()">Makefile</button>
    <pre ng-show="preRawAPI" class="bg-darken-2 round px2 py2">{{ image | prettyJSON }}</pre>
    <pre ng-show="preDockerfile" class="bg-darken-2 round px2 py2">{{ dockerfile }}</pre>
    <pre ng-show="preMakefile" class="bg-darken-2 round px2 py2">{{ makefile }}</pre>
  </div>
</section>
